<div class="center jumbotron">
  <h1>Welcome to MathP！</h1>

  <h2>
    ここは数学の授業補助をするためのホームページです。</h2>

  <%= link_to "ユーザー登録", signup_path , class: "btn btn-lg btn-primary" %>
</div>
<div>
  <%= render 'layouts/mokuji' %>
  ｌｌｌｌｌｌｌｌｌｌｌｌｌ
</div>

