<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      このフォームには <%= pluralize(object.errors.count, "エラー") %>あります。
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>