<h1>式と計算</h1>
<h2 class="blank2"> </h2>
<h2>この章について</h2>
<h2 class="blank1"></h2>
<p>この章では、文字の入った式の足し算、引き算、掛け算について。また、数の種類、及びそれらの関係を与える不等式、それらを扱うために必要な集合と命題について学びます。それでは、早速やっていきましょう。</p>
<h2>整式の加法と減法</h2>
<h2 class="blank1"></h2>

<p>まずは用語の確認から</p>
<div class="nan">
    <li>単項式・・・文字や数およびそれらをかけわせただけでつくられる式</li>
    <li>単項式の次数・・・着目した文字のかけられた数</li>
    <li>単項式の係数・・・単項式の数の部分</li>
    <li>＊注意　複数文字がある場合は特定の文字に着目してこれらのものを考えることがある着目した文字以外は数とみなす</li>
</div>
<h2 class="blank2"></h2>
<p>例</p>
<h2 class="blank1"></h2>
<p>(1) 単項式\((-5)x^2y\)の係数は\(-5\),次数は\(3\)である</p>
<p>(2) xに着目すると、上の単項式の係数は\(-5y\),　次数は\(2\)である</p>
<h2 class="blank1"></h2>
<div class="nan">
    <li>多項式・・・単項式の和であらわされる式</li>
    <li>項・・・多項式の中の単項式1つ1つ</li>
    <li>整式・・・単項式と多項式を合わせたもの</li>
    <li>定数項・・・整式の中で着目した文字を含まない項</li>
    <li>降べきの順・・・整式の項を左から右に次数が低くなるように並べたもの</li>
    <li>昇べきの順・・・整式の項を左から右に次数が高くなるように並べたもの</li>
    <li>同類項・・・着目した文字が同じである項　同類項はまとめることができる</li>
  </div>
   <h2 class="blank2"></h2>
<p>例　同類項はまとめられる</p>
<h2 class="blank1"></h2> 
　<p>\(3x^2+2x-5-7x+x^2+1\) = \((3+1)x^2+(2-7)x+(-5-1)\) = \(4x^2-5x+6\)
</p>
<p>上の答えは降べきの順に並んでいるこれを昇べきの順に並べ替えると \(6-5x+4x^2\)となる</p>
<h2 class="blank1"></h2> 
<p>単項式に次数を定めたように多項式にも次数を定めることとします。多項式の次数はその多項式の中の最も次数が高い項とします。また次数がnの整式のことをn次式といった風に呼ぶこととします。</p>
<h2 class="blank2"></h2>
<p>2つの和と差の計算をせよと言われたら、分配法則を使ってかっこを壊して同類項をできるところまでまとめよということです。</p>
<h2 class="blank1"></h2>
<p>例</p>
<h2 class="blank1"></h2>
<p>\((3x^2+2x+4)+(2x^2+3)=5x^2+2x+7\)</p>
<p>\((3x^2+2x+4)-(2x^2+3)=3x^2+2x+4-2x^2-3=x^2+1\)</p>
<h2 class="blank2"></h2>
<h2>整式の乗法</h2>
<h2 class="blank1"></h2>
<P>整式の乗法をする前に、単項式に範囲を絞って考えていきましょう。まずは語句の確認から</P>
<h2 class="blank1"></h2>
<div class="nan">
    <li>\(a\)の\(n\)乗・・・ \(a\)を\(n\)回かけたもの</li>
    <li>指数・・・ \(a^n\)における\(n\)の部分の呼び名</li>

    
    
    
</div>


<h2><%= link_to "次へ", doc2_path %></h2>




