<h1>数と式</h1>
<p>kakakakakak</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/oMbo1C93jfI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
