 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-right navbar-nav" >
        <%= link_to "Mathp　☕",    root_path ,id: "logo" %>
          
            
              <span><%= link_to "・ホーム",   root_path %></span>
           <span><%= link_to "・ログイン",   '#' %></span>
           <span> <%= link_to "・授業",   lecture_path %></span>
          
          </ul>
      </div>
    </header